%rebase('osnova.html', naslov='Author')


<div class="row px-3">
    <div class="col">
    <h2>{{avtor[1]}}</h2>
        </div>
</div>
<div class="row px-3">
    <div class="col-8">

        <br/>Average rating: {{avtor[2]}}
        % if avtor[3] is not None:
            <br/>Birth date: {{avtor[3]}}
        % end
        % if avtor[4] is not None:
            <br/>Birth place: {{avtor[4]}}
        % end

    % if zanriAvtorja != []:
        <p>Author's genre:
            %for zanr in zanriAvtorja[:-1]:
                <a href="/genre/{{zanr}}">{{zanr}}, </a>
            %end
        <a href="/genre/{{zanr}}">{{zanriAvtorja[-1]}}</a></p>


    % end
    </div>
    <div class="col-1">
    </div>
<div class="col-2">
    <img src="/static/ink.png" class="center-full" align="center"/>
</div>
       <div class="col-1">
    </div>
    </div>
<br/>
<div class="row px-3">

    <div class="col-6">
    <div class="btn-group-vertical">
            Books:
            %for knjiga in knjige:
                <form action="/book/{{knjiga[0]}}" method="POST">
                    <input type="submit" class="btn btn-link" value="{{knjiga[1]}}">

                </form>
            %end
    </div>
</div>

    % if serijeAvtorja != {}:
        <div class="col-6">
            <div class="btn-group-vertical">
                Author's series:
                %for id, (ime, knjig) in serijeAvtorja.items():
                    <form action="/series/{{id}}" method="POST">
                        %if knjig%100 == 1:
                        %    kon = 'knjigo'
                        %elif knjig%100 == 2:
                        %    kon = 'knjigi'
                        %elif knjig%100 in {3,4}:
                        %    kon = 'knjige'
                        %else:
                        %    kon = 'knjig'
                        %end
                        <input type="submit" class="btn btn-link" value="{{ime}} (vsebuje {{knjig}} {{kon}})">
                    </form>
                %end
            </div>
        </div>
    % end
</div>

