%rebase('osnova.html', naslov='Izpis knjig')

<div class="row px-4">
    %if st_zadetkov%100 == 1:
    {{st_zadetkov}} book matches
    %else:
    {{st_zadetkov}} books match
    %end
    your search with parameters:
    <br/>
    % if parametri is not None and parametri != []:
        % for parameter in parametri[:-1]:
            {{parameter}},
        %end
        {{parametri[-1]}}
    %end
    <br/>

</div>
<div class="row px-4">
% if st_strani > 1:
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            %if ima_prejsnjo:
                <li class="page-item">
                    <form action="/isci/{{iskane_dolzine}}/{{iskane_kljucne}}/{{iskani_zanri}}/{{iskano_zbirka}}/{{int(stran)-1}}" method="POST">
                        <p><input type="submit" class="btn btn-link" value="<<">
                        </p>
                    </form>
                </li>
            %end
            %if int(stran) > 3:
                <li class="page-item">
                    <form action="/isci/{{iskane_dolzine}}/{{iskane_kljucne}}/{{iskani_zanri}}/{{iskano_zbirka}}/0" method="POST">
                        <input type="submit" class="btn btn-link" value="{{1}}">
                    </form>
                </li>
                %if int(stran) > 4:
                    <li class="page-item">
                        ...
                    </li>
                %end
            %end
            %zacetna = max(1, int(stran) - 2)
            %koncna = min(int(stran) + 5, st_strani +1)
            %for i in range(zacetna, koncna):
                <li class="page-item">
                    <form action="/isci/{{iskane_dolzine}}/{{iskane_kljucne}}/{{iskani_zanri}}/{{iskano_zbirka}}/{{i-1}}" method="POST">
                        <input type="submit" class="btn btn-link" value="{{i}}" >
                    </form>
                </li>
            %end
            %if koncna < st_strani+1:
                %if koncna < st_strani:
                    <li class="page-item">
                        ...
                    </li>
                %end
                <li class="page-item">
                    <form action="/isci/{{iskane_dolzine}}/{{iskane_kljucne}}/{{iskani_zanri}}/{{iskano_zbirka}}/{{st_strani-1}}" method="POST">
                        <input type="submit" class="btn btn-link" value="{{st_strani}}">
                    </form>
                </li>
            %end
            %if ima_naslednjo:
                <li class="page-item">
                    <form action="/isci/{{iskane_dolzine}}/{{iskane_kljucne}}/{{iskani_zanri}}/{{iskano_zbirka}}/{{int(stran)}}" method="POST">
                        <p><input type="submit" class="btn btn-link" value=">>">
                        </p>
                    </form>
                </li>
            %end
        </ul>
    </nav>
%end
</div>
<hr/>
%for knjiga in knjige:
<div class="row px-4">
        <div class="col-2">
            <img src="{{knjiga['url_naslovnice']}}" align="center" class="img-thumbnail"/>
        </div>
        <div class="col-10">


            <div class="row">

            <div class="col-8">
                <form action="/knjiga/{{knjiga['id']}}" method="POST">
                    <b><input type="submit" class="btn btn-basic" value="{{knjiga['naslov']}}"></b>

                </form>
            </div>
                <div class="col-2">
                    TODO Add to wislist
                </div>
                <div class="col-2">
                    TODO Read
                </div>
            </div>


                <div class="row">
                %if knjiga['avtorji']!={None}:
                    %if len(knjiga['avtorji'])==1:
                        Avtor:
                    %end
                    %if len(knjiga['avtorji'])>1:
                        Avtorji:
                    %end
                    <div class="btn-group">
                    %for avtor in knjiga['avtorji']:
                        <form action="/avtor/{{avtor[0]}}" method="POST">
                             <p><input type="submit" class="btn btn-link" value="{{avtor[1]}}">
                            </p>
                        </form>
                    %end
                    </div>

                %end
                </div>
                <div class="row">
                %if knjiga['zanri']!={None}:
                    Žanri:
                    <div class="btn-group">
                        %for zanr in knjiga['zanri']:
                            <form action="/zanr/{{zanr}}" method="POST">
                                <input type="submit" class="btn btn-link" value="{{zanr}}">

                            </form>

                        %end
                    </div>
                %end
            </div>
            </div>
        </div>
<hr/>
%end

<div class="row px-4">
% if st_strani > 1:
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            %if ima_prejsnjo:
                <li class="page-item">
                    <form action="/isci/{{iskane_dolzine}}/{{iskane_kljucne}}/{{iskani_zanri}}/{{iskano_zbirka}}/{{int(stran)-1}}" method="POST">
                        <p><input type="submit" class="btn btn-link" value="<<">
                        </p>
                    </form>
                </li>
            %end
            %if int(stran) > 3:
                <li class="page-item">
                    <form action="/isci/{{iskane_dolzine}}/{{iskane_kljucne}}/{{iskani_zanri}}/{{iskano_zbirka}}/0" method="POST">
                        <input type="submit" class="btn btn-link" value="{{1}}">
                    </form>
                </li>
                %if int(stran) > 4:
                    <li class="page-item">
                        ...
                    </li>
                %end
            %end
            %zacetna = max(1, int(stran) - 2)
            %koncna = min(int(stran) + 5, st_strani +1)
            %for i in range(zacetna, koncna):
                <li class="page-item">
                    <form action="/isci/{{iskane_dolzine}}/{{iskane_kljucne}}/{{iskani_zanri}}/{{iskano_zbirka}}/{{i-1}}" method="POST">
                        <input type="submit" class="btn btn-link" value="{{i}}" >
                    </form>
                </li>
            %end
            %if koncna < st_strani+1:
                %if koncna < st_strani:
                    <li class="page-item">
                        ...
                    </li>
                %end
                <li class="page-item">
                    <form action="/isci/{{iskane_dolzine}}/{{iskane_kljucne}}/{{iskani_zanri}}/{{iskano_zbirka}}/{{st_strani-1}}" method="POST">
                        <input type="submit" class="btn btn-link" value="{{st_strani}}">
                    </form>
                </li>
            %end
            %if ima_naslednjo:
                <li class="page-item">
                    <form action="/isci/{{iskane_dolzine}}/{{iskane_kljucne}}/{{iskani_zanri}}/{{iskano_zbirka}}/{{int(stran)}}" method="POST">
                        <p><input type="submit" class="btn btn-link" value=">>">
                        </p>
                    </form>
                </li>
            %end
        </ul>
    </nav>
%end
</div></div>