%rebase('osnova.html', naslov='Izpis avtorjev')


<div class="row px-4">
    Vašim parametrom
    %if len(avtorji)%100 == 1:
    ustreza {{len(avtorji)}} avtor.
    %elif len(avtorji)%100 == 2:
    ustrezata {{len(avtorji)}} avtorja.
    %elif len(avtorji)%100 in {3,4}:
    ustrezajo {{len(avtorji)}} avtorji.
    %else:
    ustreza {{len(avtorji)}} avtorjev.
    %end



</div>
<hr />
% if len(avtorji) > 10:
    <nav aria-label="Page navigation example">
      <ul class="pagination">
          %if stran !=1:
            <li class="page-item">
                <form action="/izpis_zadetkov/avtor&{{int(stran)-1}}&{{idji}}" method="GET">
                  <p><input type="submit" class="btn btn-link" value="<<">
                  </p>
              </form>
            </li>
          %end
          %for i in range(1, (len(avtorji)-1)//10 + 2):
             <li class="page-item">
                 <form action="/izpis_zadetkov/avtor&{{str(i)}}&{{idji}}" method="GET">
                         <p><input type="submit" class="btn btn-link" value="{{i}}">
                         </p>
                 </form>
             </li>
          %end
          %if int(stran)*10 < len(avtorji):
            <li class="page-item">
                <form action="/izpis_zadetkov/avtor&{{int(stran)+1}}&{{idji}}" method="GET">
                  <p><input type="submit" class="btn btn-link" value=">>">
                  </p>
                </form>
            </li>
          %end
      </ul>
    </nav>
%end

%for avtor in avtorji[(int(stran)-1)*10  : (int(stran))*10]:

<div class="row px-4">
    <div class="btn-group-vertical">
        <form action="/avtor/{{avtor['id']}}" method="POST">
            <b><input type="submit" class="btn btn-basic" value="{{avtor['ime']}}"></b>
        </form>

        <div class="btn-group">
            %for zanr in avtor['zanri']:
                <form action="/zanr/{{zanr}}" method="POST">
                    <p><input type="submit" class="btn btn-link" value="{{zanr}}">
                    </p>
                </form>
            %end
        </div>
    </div>
</div>
<hr />
%end

% if len(avtorji) > 10:
    <nav aria-label="Page navigation example">
      <ul class="pagination">
          %if stran !=1:
            <li class="page-item">
                <form action="/izpis_zadetkov/avtor&{{int(stran)-1}}&{{idji}}" method="GET">
                  <p><input type="submit" class="btn btn-link" value="<<">
                  </p>
              </form>
            </li>
          %end
          %for i in range(1, (len(avtorji)-1)//10 + 2):
             <li class="page-item">
                 <form action="/izpis_zadetkov/avtor&{{str(i)}}&{{idji}}" method="GET">
                         <p><input type="submit" class="btn btn-link" value="{{i}}">
                         </p>
                 </form>
             </li>
          %end
          %if int(stran)*10 < len(avtorji):
            <li class="page-item">
                <form action="/izpis_zadetkov/avtor&{{int(stran)+1}}&{{idji}}" method="GET">
                  <p><input type="submit" class="btn btn-link" value=">>">
                  </p>
                </form>
            </li>
          %end
      </ul>
    </nav>
%end