%rebase('osnova.html', naslov='Search results')


<div class="row px-4">
    %if st_zadetkov%100 == 1:
    {{st_zadetkov}} author matches
    %else:
    {{st_zadetkov}} authors match
    %end
     your search with parameters:
    <br/>{{iskani_izraz_avtor}}

</div>
<hr />
<div class="row px-4">
% if st_strani > 1:
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            %if ima_prejsnjo:
                <li class="page-item">
                    <form action="/search_results_authors/{{iskani_izraz_avtor}}/{{int(stran)-1}}" method="POST">
                        <p><input type="submit" class="btn btn-link" value="<<">
                        </p>
                    </form>
                </li>
            %end
            %if int(stran) > 3:
                <li class="page-item">
                    <form action="/search_results_authors/{{iskani_izraz_avtor}}/0" method="POST">
                        <input type="submit" class="btn btn-link" value="{{1}}">
                    </form>
                </li>
                %if int(stran) > 4:
                    <li class="page-item">
                        ...
                    </li>
                %end
            %end
            %zacetna = max(1, int(stran) - 2)
            %koncna = min(int(stran) + 5, st_strani +1)
            %for i in range(zacetna, koncna):
                <li class="page-item">
                    <form action="/search_results_authors/{{iskani_izraz_avtor}}/{{i-1}}" method="POST">
                        <input type="submit" class="btn btn-link" value="{{i}}" >
                    </form>
                </li>
            %end
            %if koncna < st_strani+1:
                %if koncna < st_strani:
                    <li class="page-item">
                        ...
                    </li>
                %end
                <li class="page-item">
                    <form action="/search_results_authors/{{iskani_izraz_avtor}}/{{st_strani-1}}" method="POST">
                        <input type="submit" class="btn btn-link" value="{{st_strani}}">
                    </form>
                </li>
            %end
            %if ima_naslednjo:
                <li class="page-item">
                    <form action="/search_results_authors/{{iskani_izraz_avtor}}//{{int(stran)+1}}" method="POST">
                        <p><input type="submit" class="btn btn-link" value=">>">
                        </p>
                    </form>
                </li>
            %end
        </ul>
    </nav>
%end
</div>

%for avtor in avtorji:

<div class="row px-4">
    <div class="btn-group-vertical">
        <form action="/author/{{avtor['id']}}" method="GET">
            <b><input type="submit" class="btn btn-basic" value="{{avtor['ime']}}"></b>
        </form>

        <div class="btn-group">
            %for zanr in avtor['zanri']:
                <form action="/genre/{{zanr}}" method="GET">
                    <p><input type="submit" class="btn btn-link" value="{{zanr}}">
                    </p>
                </form>
            %end
        </div>
    </div>
</div>
<hr />
%end

<div class="row px-4">
% if st_strani > 1:
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            %if ima_prejsnjo:
                <li class="page-item">
                    <form action="/search_results_authors/{{iskani_izraz_avtor}}/{{int(stran)-1}}" method="POST">
                        <p><input type="submit" class="btn btn-link" value="<<">
                        </p>
                    </form>
                </li>
            %end
            %if int(stran) > 3:
                <li class="page-item">
                    <form action="/search_results_authors/{{iskani_izraz_avtor}}/0" method="POST">
                        <input type="submit" class="btn btn-link" value="{{1}}">
                    </form>
                </li>
                %if int(stran) > 4:
                    <li class="page-item">
                        ...
                    </li>
                %end
            %end
            %zacetna = max(1, int(stran) - 2)
            %koncna = min(int(stran) + 5, st_strani +1)
            %for i in range(zacetna, koncna):
                <li class="page-item">
                    <form action="/search_results_authors/{{iskani_izraz_avtor}}/{{i-1}}" method="POST">
                        <input type="submit" class="btn btn-link" value="{{i}}" >
                    </form>
                </li>
            %end
            %if koncna < st_strani+1:
                %if koncna < st_strani:
                    <li class="page-item">
                        ...
                    </li>
                %end
                <li class="page-item">
                    <form action="/search_results_authors/{{iskani_izraz_avtor}}/{{st_strani-1}}" method="POST">
                        <input type="submit" class="btn btn-link" value="{{st_strani}}">
                    </form>
                </li>
            %end
            %if ima_naslednjo:
                <li class="page-item">
                    <form action="/search_results_authors/{{iskani_izraz_avtor}}//{{int(stran)+1}}" method="POST">
                        <p><input type="submit" class="btn btn-link" value=">>">
                        </p>
                    </form>
                </li>
            %end
        </ul>
    </nav>
%end
</div>
