%rebase('osnova.html', naslov='Search results')


<div class="row px-4">
    %if st_zadetkov%100 == 1:
    {{st_zadetkov}} book matches
    %else:
    {{st_zadetkov}} books match
    %end
    your search with parameters:
    <br/>
    % if parametri is not None and parametri != []:
        % for parameter in parametri[:-1]:
            {{parameter}},
        %end
        {{parametri[-1]}}
    %end
    <br/>

</div>
<div class="row px-4">
% if st_strani > 1:
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            %if ima_prejsnjo:
                <li class="page-item">
                    % if veliki_mali == 'veliki':
                        <form action="/search/{{iskane_dolzine}}/{{iskane_kljucne}}/{{iskani_zanri}}/{{iskano_zbirka}}/{{int(stran)-1}}" method="POST">

                            <p><input type="submit" class="btn btn-link" value="<<">
                            </p>
                        </form>
                    % elif veliki_mali == 'mali':
                        <form action="/search_results_books/{{iskani_izraz_knjiga}}/{{int(stran)-1}}" method="POST">
                            <p><input type="submit" class="btn btn-link" value="<<">
                            </p>
                        </form>
                    %end
                </li>
            %end
            %if int(stran) > 3:
                <li class="page-item">
                    % if veliki_mali == 'veliki':
                        <form action="/search/{{iskane_dolzine}}/{{iskane_kljucne}}/{{iskani_zanri}}/{{iskano_zbirka}}/0" method="POST">

                            <input type="submit" class="btn btn-link" value="{{1}}">
                        </form>
                    % elif veliki_mali == 'mali':
                        <form action="/search_results_books/{{iskani_izraz_knjiga}}/0" method="POST">
                            <input type="submit" class="btn btn-link" value="{{1}}">
                        </form>
                    %end
                </li>
                %if int(stran) > 4:
                    <li class="page-item">
                        ...
                    </li>
                %end
            %end
            %zacetna = max(1, int(stran) - 2)
            %koncna = min(int(stran) + 5, st_strani +1)
            %for i in range(zacetna, koncna):
                <li class="page-item">
                    % if veliki_mali == 'veliki':
                        <form action="/search/{{iskane_dolzine}}/{{iskane_kljucne}}/{{iskani_zanri}}/{{iskano_zbirka}}/{{i-1}}" method="POST">

                            <input type="submit" class="btn btn-link" value="{{i}}" >
                        </form>
                    % elif veliki_mali == 'mali':
                        <form action="/search_results_books/{{iskani_izraz_knjiga}}/{{i-1}}" method="POST">
                            <input type="submit" class="btn btn-link" value="{{i}}" >
                        </form>
                    %end
                </li>
            %end
            %if koncna < st_strani+1:
                %if koncna < st_strani:
                    <li class="page-item">
                        ...
                    </li>
                %end
                <li class="page-item">
                    % if veliki_mali == 'veliki':
                        <form action="/search/{{iskane_dolzine}}/{{iskane_kljucne}}/{{iskani_zanri}}/{{iskano_zbirka}}/{{st_strani-1}}" method="POST">

                            <input type="submit" class="btn btn-link" value="{{st_strani}}">
                        </form>

                    % elif veliki_mali == 'mali':
                        <form action="/search_results_books/{{iskani_izraz_knjiga}}/{{st_strani-1}}" method="POST">
                            <input type="submit" class="btn btn-link" value="{{st_strani}}">
                        </form>
                    %end
                </li>
            %end
            %if ima_naslednjo:
                <li class="page-item">
                    % if veliki_mali == 'veliki':
                        <form action="/search/{{iskane_dolzine}}/{{iskane_kljucne}}/{{iskani_zanri}}/{{iskano_zbirka}}/{{int(stran)+1}}" method="POST">

                            <p><input type="submit" class="btn btn-link" value=">>">
                            </p>
                        </form>

                    % elif veliki_mali == 'mali':
                        <form action="/search_results_books/{{iskani_izraz_knjiga}}/{{int(stran)+1}}" method="POST">
                            <p><input type="submit" class="btn btn-link" value=">>">
                            </p>
                        </form>
                    %end
                </li>
            %end
        </ul>
    </nav>
%end
</div>
<hr/>
%for knjiga in knjige:
<div class="row px-4">
        <div class="col-2">
            <img src="{{knjiga['url_naslovnice']}}" align="center" class="img-thumbnail"/>
        </div>
        <div class="col-10">


            <div class="row">

            <div class="col">
                <form action="/book/{{knjiga['id']}}" method="POST">
                    <b><input type="submit" class="btn btn-basic" value="{{knjiga['naslov']}}"></b>

                </form>
            </div>
            </div>


                <div class="row">
                %if knjiga['avtorji']!={None}:
                    %if len(knjiga['avtorji'])==1:
                    <p>Author: <a href="/author/{{list(knjiga['avtorji'])[0][0]}}">{{list(knjiga['avtorji'])[0][1]}}</a></p>
                    %end
                    %if len(knjiga['avtorji'])>1:
                        <p>Authors:
                        %for avtor in list(knjiga['avtorji'])[:-1]:
                            <a href="/author/{{avtor[0]}}">{{avtor[1]}}, </a>
                        %end
                            <a href="/author/{{list(knjiga['avtorji'])[-1][0]}}"> {{list(knjiga['avtorji'])[-1][1]}}</a></p>

                    %end

                %end
                </div>

                <div class="row">
                    %print(knjiga['zanri'])
                    %if knjiga['zanri']!= set() and if knjiga['zanr'] != {None}:
                       <p>Genre:
                            %for zanr in list(knjiga['zanri'])[:-1]:
                                <a href="/genre/{{zanr}}">{{zanr}}, </a>
                            %end
                        <a href="/genre/{{list(knjiga['zanri'])[-1]}}">{{list(knjiga['zanri'])[-1]}}</a></p>
                    %end
                </div>
            </div>
        </div>
<hr/>
%end

<div class="row px-4">
% if st_strani > 1:
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            %if ima_prejsnjo:
                <li class="page-item">
                    % if veliki_mali == 'veliki':
                        <form action="/search/{{iskane_dolzine}}/{{iskane_kljucne}}/{{iskani_zanri}}/{{iskano_zbirka}}/{{int(stran)-1}}" method="POST">
                            <p><input type="submit" class="btn btn-link" value="<<">
                            </p>
                        </form>
                    % elif veliki_mali == 'mali':
                        <form action="/search_results_books/{{iskani_izraz_knjiga}}/{{int(stran)-1}}" method="POST">
                            <p><input type="submit" class="btn btn-link" value="<<">
                            </p>
                        </form>
                    %end
                </li>
            %end
            %if int(stran) > 3:
                <li class="page-item">
                    % if veliki_mali == 'veliki':
                        <form action="/search/{{iskane_dolzine}}/{{iskane_kljucne}}/{{iskani_zanri}}/{{iskano_zbirka}}/0" method="POST">
                            <input type="submit" class="btn btn-link" value="{{1}}">
                        </form>
                    % elif veliki_mali == 'mali':
                        <form action="/search_results_books/{{iskani_izraz_knjiga}}/0" method="POST">
                            <input type="submit" class="btn btn-link" value="{{1}}">
                        </form>
                    %end
                </li>
                %if int(stran) > 4:
                    <li class="page-item">
                        ...
                    </li>
                %end
            %end
            %zacetna = max(1, int(stran) - 2)
            %koncna = min(int(stran) + 5, st_strani +1)
            %for i in range(zacetna, koncna):
                <li class="page-item">
                    % if veliki_mali == 'veliki':
                        <form action="/search/{{iskane_dolzine}}/{{iskane_kljucne}}/{{iskani_zanri}}/{{iskano_zbirka}}/{{i-1}}" method="POST">
                             <input type="submit" class="btn btn-link" value="{{i}}" >
                        </form>
                    % elif veliki_mali == 'mali':
                        <form action="/search_results_books/{{iskani_izraz_knjiga}}/{{i-1}}" method="POST">
                             <input type="submit" class="btn btn-link" value="{{i}}" >
                        </form>
                    %end
                </li>
            %end
            %if koncna < st_strani+1:
                %if koncna < st_strani:
                    <li class="page-item">
                        ...
                    </li>
                %end
                <li class="page-item">
                    % if veliki_mali == 'veliki':
                        <form action="/search/{{iskane_dolzine}}/{{iskane_kljucne}}/{{iskani_zanri}}/{{iskano_zbirka}}/{{st_strani-1}}" method="POST">
                            <input type="submit" class="btn btn-link" value="{{st_strani}}">
                        </form>
                    % elif veliki_mali == 'mali':
                        <form action="/search_results_books/{{iskani_izraz_knjiga}}/{{st_strani-1}}" method="POST">
                            <input type="submit" class="btn btn-link" value="{{st_strani}}">
                        </form>
                    %end
                </li>
            %end
            %if ima_naslednjo:
                <li class="page-item">
                    % if veliki_mali == 'veliki':
                        <form action="/search/{{iskane_dolzine}}/{{iskane_kljucne}}/{{iskani_zanri}}/{{iskano_zbirka}}/{{int(stran)+1}}" method="POST">
                            <p><input type="submit" class="btn btn-link" value=">>">
                            </p>
                        </form>
                    % elif veliki_mali == 'mali':
                        <form action="/search_results_books/{{iskani_izraz_knjiga}}/{{int(stran)+1}}" method="POST">
                            <p><input type="submit" class="btn btn-link" value=">>">
                            </p>
                        </form>
                    %end
                </li>
            %end
        </ul>
    </nav>
%end
</div>