%rebase('osnova.html', naslov='Izpis knjig')


<div class="row px-4">
    Vašim parametrom
    %if len(knjige)%100 == 1:
    ustreza {{len(knjige)}} knjiga.
    %elif len(knjige)%100 == 2:
    ustrezata {{len(knjige)}} knjigi.
    %elif len(knjige)%100 in {3,4}:
    ustrezajo {{len(knjige)}} knjige.
    %else:
    ustreza {{len(knjige)}} knjig.
    %end



</div>
<hr />
%for knjiga in knjige:

<div class="row px-4">
    <div class="col-2">
        <img src="{{knjiga['url_naslovnice']}}" align="center" class="img-thumbnail"/>
    </div>
    <div class="col">
    <div class="btn-group-vertical">
    <!--<br/>-->
        <form action="/knjiga/{{knjiga['id']}}" method="POST">
            <h3><input type="submit" class="btn btn-basic" value="{{knjiga['naslov']}}"></h3>

        </form>
        %if knjiga['avtorji']!={None}:
        %if len(knjiga['avtorji'])==1:
        Avtor:
        %end
        %if len(knjiga['avtorji'])>1:
        Avtorji:
        %end
        %for avtor in knjiga['avtorji']:
        <form action="/avtor/{{avtor[0]}}" method="POST">
             <p><input type="submit" class="btn btn-link" value="{{avtor[1]}}">
            </p>
        </form>
        %end
        %end

        %if knjiga['zanri']!={None}:
        Žanri:
        <div class="btn-group">
        %for zanr in knjiga['zanri']:
        <form action="/zanr/{{zanr}}" method="POST">
            <p><input type="submit" class="btn btn-link" value="{{zanr}}">
            </p>
        </form>

        %end
        </div>
        %end

    <!--<br/>-->
    </div>
    </div>

</div>
<hr />
%end
