%rebase('osnova.html', naslov='Table of genres')


<div class="row">
    <div class="col">
        <div class="text-center">
            <div class="btn-group-vertical">
                <br/>
                % for zanr in zanri_kazalo[:43]:
                    <form action="/genre/{{zanr[0]}}" method="GET">
                         <b><input type="submit" class="btn btn-basic" value="{{zanr[0]}}"></b>
                    </form>
               %end
           </div>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
            <div class="btn-group-vertical">
                <br/>
                % for zanr in zanri_kazalo[43:86]:
                    <form action="/genre/{{zanr[0]}}" method="GET">
                         <b><input type="submit" class="btn btn-basic" value="{{zanr[0]}}"></b>
                    </form>
               %end
           </div>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
            <div class="btn-group-vertical">
                <br/>
                % for zanr in zanri_kazalo[86:129]:
                    <form action="/genre/{{zanr[0]}}" method="GET">
                         <b><input type="submit" class="btn btn-basic" value="{{zanr[0]}}"></b>
                    </form>
               %end
           </div>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
            <div class="btn-group-vertical">
                <br/>
                % for zanr in zanri_kazalo[129:]:
                    <form action="/genre/{{zanr[0]}}" method="GET">
                         <b><input type="submit" class="btn btn-basic" value="{{zanr[0]}}"></b>
                    </form>
               %end
           </div>
        </div>
    </div>
</div>
