%rebase('osnova.html', naslov='Book')

<div class="row px-4">

    <div class="col-7">
        <h2>{{knjiga['naslov']}}</h2>
    </br>
        <p>Average rating: {{knjiga['povprecna_ocena']}} (Rating count: {{knjiga['stevilo_ocen']}})</p>
    </div>

    %if uporabnik[1] is not None:
        %if prebrano and (ocena is None):

        <div class="col-5">
            <div class="float-right">
            Rate book:
            <form action="/book/{{knjiga['id']}}" method="POST">
                <div class="rating-block">
                    %for i in range(1, 6):
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ocena" id={{"ocena"+str(i)}} value={{str(i)}}>
                            <label class="form-check-label" for={{"ocena"+str(i)}}>{{i}}</label>
                        </div>
                    %end
                </div>
                <button class="btn btn-success" type="submit">Rate</button>
            </form>
        </div>
        </div>
        %end

        %if prebrano and (ocena is not None):

            <div class="col-5">
                <div class="float-right">
                Your rating:
                <form action="/book/{{knjiga['id']}}" method="POST">
                    <div class="rating-block">
                        %for i in range(1, ocena):
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="ocena" id={{"ocena1"+str(i)}} value={{str(i)}}>
                                <label class="form-check-label" for={{"ocena1"+str(i)}}>{{i}}</label>
                            </div>
                        %end
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ocena" id={{"ocena"+str(ocena)}} value={{ocena}} checked="checked">
                            <label class="form-check-label" for={{"ocena"+str(ocena)}}>{{ocena}}</label>
                        </div>
                        %for i in range(ocena + 1, 6):
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="ocena" id={{"ocena2"+str(i)}} value={{str(i)}}>
                                <label class="form-check-label" for={{"ocena2"+str(i)}}>{{i}}</label>
                            </div>
                        %end
                    </div>
                    <button class="btn btn-success" type="submit">Change rating</button>
                </form>
            </div>
            </div>
        %end

        %if not prebrano and zelja:
        <!--Dodaj gumb read in remove from Wishlist-->
        <div class="col-5">
            <div class="float-right">
            <div class="btn-group" role="group">
            <form action="/remove_wishlist/{{knjiga['id']}}" method="POST">
                <input type="submit" class="btn btn-success btn-sm" value="Remove from wishlist">
            </form>
            </div>
                <div class="btn-group" role="group">
            <form action="/read/{{knjiga['id']}}" method="POST">
                <input type="submit" class="btn btn-success btn-sm" value="Read">
            </form>

        </div>
        </div>
        </div>
        %end

        %if not prebrano and not zelja:
        <!--Dodada gumb "preberi" in add to Wishlist-->
        <div class="col-5">
            <div class="float-right">
            <div class="btn-group" role="group">
            <form action="/add_wishlist/{{knjiga['id']}}" method="POST">
                <input type="submit" class="btn btn-success btn-sm" value="Add to wishlist">
            </form>
                </div>
            <div class="btn-group" role="group">
            <form action="/read/{{knjiga['id']}}" method="POST">
                <input type="submit" class="btn btn-success btn-sm" value="Read">
            </form>
            </div>
                </div>
        </div>
        %end
    %end
</div>

%if knjiga['avtor'] != {(None, None)}:
    <div class="row px-4">
        <div class="col">
            %if len(knjiga['avtor'])==1:
            <p>Author: <a href="/author/{{list(knjiga['avtor'])[0][0]}}">{{list(knjiga['avtor'])[0][1]}}</a></p>
            %end
            %if len(knjiga['avtor'])>1:
                <p>Authors:
                %for avtor in list(knjiga['avtor'])[:-1]:
                    <a href="/author/{{avtor[0]}}">{{avtor[1]}}, </a>
                %end
                    <a href="/author/{{list(knjiga['avtor'])[-1][0]}}"> {{list(knjiga['avtor'])[-1][1]}}</a></p>
            %end
        </div>
    </div>
%end

% if knjiga['serija'] != {(None, None, None)}:
    <div class="row px-4">
        <div class="col">
        <p>Series:
        %for serija in list(knjiga['serija'])[:-1]:
                %if serija[2] is not None:
                %    dodatek = ' #' + str(serija[2])
                %else:
                %    dodatek = ''
                %end
                <a href="/series/{{serija[0]}}">{{serija[1]}}{{dodatek}},</a>
        %end

        %if list(knjiga['serija'])[-1][2] is not None:
        %    dodatek = ' #' + str(list(knjiga['serija'])[-1][2])
        %else:
        %    dodatek = ''
        %end
            <a href="/series/{{list(knjiga['serija'])[-1][0]}}">{{list(knjiga['serija'])[-1][1]}}{{dodatek}}</a></p>

        </div>
    </div>
% end

% if knjiga['opis'] is not None:
    <div class="row px-4">
        <div class="col-3">
            <img src="{{knjiga['url_naslovnice']}}" align="center" class="img-thumbnail"/>
        </div>

        <div class="col-9">
            <p>{{knjiga['opis']}}</p>
        </div>
    </div>
% end

<br/>
% if knjiga['dolzina'] is not None:
    <div class="row px-4">
        <div class="col">
        Pages: {{knjiga['dolzina']}}
        </div>
    </div>
% end

% if knjiga['isbn'] is not None:
    <div class="row px-4">
        <div class="col">
        ISBN13: {{knjiga['isbn']}}
        </div>
    </div>
<br/>
%end

% if knjiga['leto'] is not None:
    <div class="row px-4">
        <div class="col">
        Published: {{knjiga['leto']}}
        </div>
    </div>
<br/>
% end


% if knjiga['zanri'] != {None}:
    <div class="row px-4">
        <div class="col">
        <p>Genre:
            %for zanr in list(knjiga['zanri'])[:-1]:
                <a href="/genre/{{zanr}}">{{zanr}}, </a>
            %end
        <a href="/genre/{{list(knjiga['zanri'])[-1]}}">{{list(knjiga['zanri'])[-1]}}</a></p>
        </div>
    </div>
%end

% if knjiga['kljucna_beseda'] != {None}:
    <div class="row px-4">
        <div class="col">

        <p>Key words:
        %for kljucna_beseda in list(knjiga['kljucna_beseda'])[:-1]:
            <a href="/search_results_books/{{kljucna_beseda}}/">{{kljucna_beseda}},</a>
        %end
        <a href="/search_results_books/{{list(knjiga['kljucna_beseda'])[-1]}}/">{{list(knjiga['kljucna_beseda'])[-1]}}</a></p>

        </div>
    </div>
% end
