%rebase('osnova.html', naslov='Knjiga')

<div class="row px-4">

    <div class="col">
    <h3>{{knjiga['naslov']}}</h3>
    </div>
    <div class="col-sm">
        Povprečna ocena: {{knjiga['povprecna_ocena']}} (Število ocen: {{knjiga['stevilo_ocen']}})
    </div>
    </div>

% if knjiga['avtor'] != {(None, None)}:
    <div class="row px-4">
        %if len(knjiga['avtor'])==1:
        Avtor:
        %end
        %if len(knjiga['avtor'])>1:
        Avtorji:
        %end
        %for avtor in knjiga['avtor']:
        <form action="/avtor/{{avtor[0]}}" method="POST">
             <p><input type="submit" class="btn btn-link" value="{{avtor[1]}}">
            </p>
        </form>
        %end
    </div>
% end

% if knjiga['serija'] != {(None, None, None)}:
    <div class="row px-4">
        %if len(knjiga['serija'])==1:
        Zbirka:
        %end
        %if len(knjiga['serija'])>1:
        Zbirke:
        %end
        %for serija in knjiga['serija']:
        <form action="/zbirka/{{serija[0]}}" method="POST">
            %if serija[2] is not None:
            %    dodatek = ' #' + str(serija[2])
            %else:
            %    dodatek = ''
            %end
             <p><input type="submit" class="btn btn-link" value="{{serija[1]}}{{dodatek}}">
            </p>
        </form>
        %end
    </div>
% end

% if knjiga['opis'] is not None:
<div class="row px-4">

    <div class="col-3">
    <img src="{{knjiga['url_naslovnice']}}" align="center" class="img-thumbnail"/>
    </div>

    <div class="col">
    <p>{{knjiga['opis']}}</p>
    </div>
</div>
% end
<br/>
% if knjiga['dolzina'] is not None:
    <div class="row px-4">
        Dolžina knjige: {{knjiga['dolzina']}} strani
    </div>
% end

% if knjiga['isbn'] is not None:
    <div class="row px-4">
        ISBN13: {{knjiga['isbn']}}
    </div>
%end

% if knjiga['leto'] is not None:
<div class="row px-4">
    Leto izdaje: {{knjiga['leto']}}
</div>
% end
<br/>
% if knjiga['zanri'] != {None}:
<div class="row px-4">
    Žanri:
    %for zanr in knjiga['zanri']:
    <form action="/zanr/{{zanr}}" method="POST">
         <p><input type="submit" class="btn btn-link" value="{{zanr}}">
        </p>
    </form>
    %end
</div>
%end

% if knjiga['kljucna_beseda'] != {None}:
<div class="row px-4">
    Ključne besede:
    %for kljucna_beseda in knjiga['kljucna_beseda']:
    <form action="/isci" method="POST">
         <p><input name="kljucne_besede" type="submit" class="btn btn-link" value="{{kljucna_beseda}}">
        </p>
    </form>
    %end
</div>
% end