%rebase('osnova.html', naslov='Sign in')

<div class="row">
    <div class="col-6">
        <div class="alert {{uporabnik[2]}}" role="alert">{{sporocilo}}
        </div>
        <form action="/sign_in" method="POST">
            <div class="w-75 p-3 ">
                <div class="form-row">
                    <input type="text" class="form-control" id="username" placeholder="Username" name="vzdevek">
                </div>
                <br/>
                <div class="form-row">
                  <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="geslo">
                </div>
                <br/>
                <input type="submit" class="btn {{uporabnik[2]}} btn-sm" value="Sign in">
            </div>
        </form>
        <br/>
        <p>If you are not a user yet, you can sign up <a class="{{uporabnik[2]}}" href="/sign_up">here</a>.</p>
    </div>
    <div class="col-6">
        <img src="/static/The_Fat_Lady.jpg" class="center-full FatLady" align="center"/>
    </div>
</div>
