%rebase('osnova.html', naslov='Profile')

<div class="row">
    <div class="col">
        {{uporabnik[1]}}

      <div class="btn-group-vertical">
        <br/>
            Read books:
            %for knjiga in prebrane:
                <form action="/knjiga/{{knjiga[0]}}" method="POST">
                    <input type="submit" class="btn btn-link" value="{{knjiga[1]}}">

                </form>
            %end
    </div>

      <div class="btn-group-vertical">
        <br/>
            Wishlist:
            %for knjiga in zelje:
                <form action="/knjiga/{{knjiga[0]}}" method="POST">
                    <input type="submit" class="btn btn-link" value="{{knjiga[1]}}">

                </form>
            %end
      </div>

        <form action="/spremeni_profil" method="GET">
                <div class="p-3">
                    <b><input type="submit" class="btn btn-success btn-sm" value="Change profile"></b>
                </div>
        </form>
    </div>
</div>
