%rebase('osnova.html', naslov='Sign up')
<div class="row">
    <div class="col-5">
        <form action="/registracija" method="POST">
            %if sporocilo is not None:
            <div class="alert alert-success" role="alert">{{sporocilo}}</div>
            %end
            <div class="form-row">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Username" name="vzdevek" value="{{username}}" required>
            </div>
            <div class="form-row">
              <label for="inputPassword">Password</label>
              <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="geslo" required>
            </div>
            <div class="form-row">
                <label for="inputPasswordRepeat">Confirm password</label>
                <input type="password" class="form-control" id="inputPasswordRepeat" placeholder="Confirm Password" name="geslo2" required>
            </div>
            <div class="form-row">
                <label for="inputEmail">E-mail</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="email" value="{{email}}" required>
            </div>
            <div class="form-row">
                <label for="dom">House</label>
                <select id="dom" class="form-control" name="dom" required>
                    <option selected>{{house}}</option>
                    %for dom in ['Gryffindor', 'Hufflepuff', 'Ravenclaw', 'Slytherin']:
                        %if house != dom:
                            <option>{{dom}}</option>
                        %end
                    %end
                </select>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="spol">Sex</label>
                  <select id="spol" class="form-control" name="spol" required>
                      %if sex == 'Male':
                      <option selected>Wizard</option>
                      <option>Witch</option>
                      %else:
                      <option selected>Witch</option>
                      <option>Wizard</option>
                      %end
                  </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Sign up</button>
        </form>
    </div>
    <div class="col-5">
        <img src="../static/Alohomora.jpg" class="center-full" align="center"/>
    </div>
</div>