%rebase('osnova.html', naslov='Sign up')
<div class="row">
    <div class="col-5">
        <form action="/registracija" method="POST">
            <div class="form-row">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Username" name="vzdevek" required>
            </div>
            <div class="form-row">
              <label for="inputPassword">Password</label>
              <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="geslo" required>
            </div>
            <div class="form-row">
                <label for="inputPasswordRepeat">Confirm Password</label>
                <input type="password" class="form-control" id="inputPasswordRepeat" placeholder="Confirm Password" name="geslo2" required>
            </div>
            <div class="form-row">
                <label for="inputEmail">E-mail</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="email" required>
            </div>
            <div class="form-row">
                <label for="dom">House</label>
                <select id="dom" class="form-control" name="dom" required>
                    <option selected>Gryffindor</option>
                    <option>Hufflepuff</option>
                    <option>Ravenclaw</option>
                    <option>Slytherin</option>
                </select>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="spol">Sex</label>
                  <select id="spol" class="form-control" name="spol" required>
                      <option selected>Witch</option>
                      <option>Wizard</option>
                  </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Sign up</button>
        </form>
    </div>
    <div class="col-5">
        <img src="../static/Alohomora.jpg" class="center-full" align="center"/>
    </div>
</div>