%rebase('osnova.html', naslov='Seznam4')


<div class="col">
    <form action="/isci" method="POST">
        ISKALNIK
        <div class="form-group">
            <div class="slidecontainer">
                <input type="range" min="0" max="2007" value="200" class="slider" id="drsnikDolzina"
                       name="dolzinaInput" onchange="spremembaDrsnika(this.value)">
                <br/>
                Knjiga naj ima najmanj <span id="vrednostDrsnika">200</span> strani.
            </div>
        </div>
        <p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#skupineKljucnihBesed"
                    aria-expanded="true" aria-controls="skupineKljucnihBesed">
                Ključne besede
            </button>
        </p>

        <div class="collapse" id="skupineKljucnihBesed">
            <div class="card card-body">
                %for (skupina, besede) in vseKljucne.items():
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target=#{{skupina}}
                        aria-expanded="true" aria-controls={{skupina}}>
                    {{skupina}}
                </button>
                <div id={{skupina}} class="collapse">
                    <div class="card card-body">
                        <div class="form-group">
                            %for beseda in besede:
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value={{beseda}} id={{beseda}}
                                       name="kljucne_besede">
                                <label class="form-check-label" for={{beseda}}>
                                    {{beseda}}
                                </label>
                            </div>
                            %end
                        </div>
                    </div>
                </div>
                %end
            </div>

        </div>
        <br/>


        <div class="form-group">
            <label for="jeDelZbirke">
            Del zbirke:</label>
            <input class="checkbox pull-right" type="checkbox" value="jeDelZbirke" id=jeDelZbirke
                   name="jeDelZbirke">
        </div>


        <p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#zanri"
                    aria-expanded="true" aria-controls="zanri">
                Žanri
            </button>
        </p>
        <div class="collapse" id="zanri">
            <div class="card card-body">
                <div class="form-group">
                    %for zanr in zanri:
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value={{zanr}} id={{zanr}}
                               name="zanri">
                        <label class="form-check-label" for={{zanr}}>
                            {{zanr}}
                        </label>
                    </div>
                    %end
                </div>
            </div>

        </div>

<br/>

<p><input type="submit" class="btn btn-primary" value="Išči"></p>
</form>

</div>

<div class="col-6">
    <table cellpadding="0" cellspacing="0" border="1">
        <tr>
            <th>Id</th>
            <th>Naslov</th>
            <th>Dolžina</th>
        </tr>

        %for (id, naslov, dolzina) in knjige:
        <tr>
            <td>{{id}}</td>
            <td>{{naslov}}</td>
            <td>{{dolzina}}</td>
        </tr>
        %end
    </table>
</div>

