%rebase('osnova.html', naslov='Neki in bo Nina razmisnla')

<div class="row">
    <br/>
    <p class="text-sredina"> Pozdravljeni! Če si prišel na to spletno stran v upanju, da bi odkril, da obstaja več kot 7
        Harry Potter knjig, te moramo žal razočarati in ti sporočiti da je to to.</p>
    <br/>
    <img src="../static/harry_potter_knjige.jpg" class="img-responsive" align="center"/>
    <br/>
    <p class="text-sredina">Obstaja pa veliko knjig, ki imajo kaj skupnega s Harry Potterjem in mi ti jih lahko pomagamo poiskati.</p>
    <!--<br/>-->
    <!--<img src="../static/ron_ni_zadetkov.gif" class="img-responsive" align="center"/>-->
</div>


