%rebase('osnova.html', naslov='Flourish and Blotts')

<div class="row px-4 justify-content-center">
    <br/>

    <h2 class="{{uporabnik[2]}}" align="center">Welcome young wizard!</h2>
    <p class="text-sredina">

     If you came here in hopes to discover that there are more than 7 Harry Potter books,
        we unfortunately have to inform you, that some things are not possible even with magic.</p>
    <br/>
    <img src="/static/harry_potter_knjige.jpg" class="center" align="center" width="50%" height="50%"/>
    <br/>
    <p class="text-sredina">But luckily there are many other magical books and you have come to the right place to find them.
        On left side of page there is a bookfinder which you can use to find books of preferred length and genre,
        to find books that are part of series or if you lack time, the ones that are not.
        There is also a list of keywords from which you can choose all that you want.</p>
    <p class="text-sredina">
        However if you are looking for a specific book, keyword or author you can use the two search bars at the bottom.
    </p>
    <br/>
<h2 class="{{uporabnik[2]}}" align="center">
        Accio good books!
    </h2>
</div>

