%rebase('osnova.html', naslov='Flourish and Blotts')

<div class="row px-4" align="center">
    <br/>
    <p class="text-sredina">
    Welcome young wizard! If you came here in hopes to discover that there are more than 7 Harry Potter bookes,
        we unfortunately have to inform you, that some things are not possible even with magic.</p>
    <br/>
    <img src="../static/harry_potter_knjige.jpg" class="center" align="center" width="50%" height="50%"/>
    <br/>
    <p class="text-sredina">But luckily there are many other magical books and you have come to the right place to find them. Accio!</p>
    <!--<br/>-->
    <!--<img src="../static/ron_ni_zadetkov.gif" class="img-responsive" align="center"/>-->
</div>

