%rebase('osnova.html', naslov='Genre')


<div class="row px-4">
     <div class="col">
        <h2>{{zanr[0]}}</h2>
    </div>
</div>

<br/>

% if zanr[1] is not None:
<div class="row px-4">
    <div class="col-9">
    {{zanr[1]}}
    </div>
    <div class="col-3">
        <img src="/static/genres.jpg" class="center-full" align="center"/>

    </div>
</div>
% end
<br/>

<div class="row px-4">
    <div class="col-6">
        <div class="btn-group-vertical">
            <br/>
            %if knjige != []:
                Best books in genre {{zanr[0]}}:
                %for knjiga in knjige:
                    <form action="/book/{{knjiga[0]}}" method="POST" class="form-inline">
                            <button type="submit" class="btn btn-link" value="{{knjiga[1]}}"><i class="icon-knjiga"></i> {{knjiga[1]}}</button>
                    </form>
                %end
            %end
        </div>
    </div>
    <div class="col-6">
        <div class="btn-group-vertical">
            <br/><br/>
            %if avtorji != []:
                Authors writting in genre {{zanr[0]}}:
                %for avtor in avtorji:
                    <form action="/author/{{avtor[0]}}" method="GET">
                        <button type="submit" class="btn btn-link" value="{{avtor[1]}}"><i class="icon-avtor"></i>  {{avtor[1]}}</button>
                    </form>
                %end
            %end
        </div>
    </div>

</div>