%rebase('osnova.html', naslov='Zbirka')


<div class="row px-4">
    <b>{{serija}}</b>

</div>
<div class="row px-4">
    <div class="col-6">
        <div class="btn-group-vertical">
            <br/>
                Books in series:
                %for knjiga in knjige:
                    <form action="/knjiga/{{knjiga[0]}}" method="POST">
                        %if knjiga[2] is not None:
                        %    dodatek = ' #' + str(knjiga[2])
                        %else:
                        %    dodatek = ''
                        %end
                        <input type="submit" class="btn btn-link" value="{{knjiga[1]}} ({{serija}}{{dodatek}})">

                    </form>
                %end
        </div>
    </div>
    <div class="col-3">
        <div class="btn-group-vertical">
            <br/>
            % if len(avtorji) == 1:
            Series author:
            % elif len(avtorji) > 1:
            Series authors:
            %end
            %for avtor in avtorji:
                <form action="/avtor/{{avtor[0]}}" method="GET">
                    <input type="submit" class="btn btn-link" value="{{avtor[1]}}">
                </form>
            %end
        </div>
    </div>




</div>