tr {
    color: teal;
}

.text-sredina{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.form-control.krajsi {
   width:60% !important;
}

.form-inline{
   flex:1;
}
.btn-basic
{margin: 5px;
}

.btn.btn-link{
white-space: normal;
text-align: left;
}



.btn.btn-link.Ravenclaw{
color: brown;
}

.btn.btn-link.Hufflepuff{
color: black;
}
.btn.btn-link.Slytherin{
color: gray;
}
.btn.btn-link.Gryffindor{
color: yellow;
}

a.Ravenclaw{
color: #c96019;
}

a.Hufflepuff{
color: black;
}
a.Slytherin{
color: gray;
}
a.Gryffindor{
color: yellow;
}


.btn-group-vertical .btn-basic
{margin: 2px;
white-space: normal;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.center-full {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}
.center-medium {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.pagination {
  display:inline-flex;
  padding:5px;
}

.btn-grey{
    background-color:#D8D8D8;
	color:#FFF;
}
.rating-block{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px 15px 20px 15px;
	border-radius:3px;
	display: inline-block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

.icon-knjiga {
    background-image: url('../../static/book.svg');
    background-position: center center;
    height: 24px;
    line-height: 24px;
    width: 24px;
    display: inline-block;
}

.icon-avtor {
    background-image: url('../../static/quill.svg');
    background-position: center center;
    height: 24px;
    line-height: 24px;
    width: 24px;
    display: inline-block;
}

.icon-zbirka {
    background-image: url('../../static/books.svg');
    background-position: center center;
    height: 24px;
    line-height: 24px;
    width: 24px;
    display: inline-block;
}

.icon-isciKnjige {
    background-image: url('../../static/searchBook.svg');
    background-position: center center;
    height: 24px;
    line-height: 24px;
    width: 24px;
    display: inline-block;
}

.icon-isci {
    background-image: url('../../static/search.svg');
    background-position: center center;
    height: 24px;
    line-height: 24px;
    width: 24px;
    display: inline-block;
}