:root {
    --prim-Gryf: #d80909;
    --prim-Huff: #ead404;
    --prim-Slyt: #197a24;
    --prim-Rave: #24329c;
    --prim-none: #029583;
    --sec-Gryf: #e78c00;
    --sec-Huff: #404039;
    --sec-Slyt: #9a9c9a;
    --sec-Rave: #ae7b59;
    --sec-none: #671b2a;
}

.text-sredina{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.form-control.krajsi {
   width:60% !important;
}

.form-inline{
   flex:1;
}
.btn-basic
{margin: 5px;
}

.btn.btn-link{
white-space: normal;
text-align: left;
}

.btn.btn-link.Ravenclaw{
background-color: white;
color: var(--sec-Rave);
}
.btn.btn-link.Hufflepuff{
background-color: white;
color: var(--sec-Huff);
}
.btn.btn-link.Slytherin{
background-color: white;
color: var(--sec-Slyt);
}
.btn.btn-link.Gryffindor{
background-color: white;
color: var(--sec-Gryf);
}
.btn.btn-link.None{
background-color: white;
color: var(--sec-none);
}

.btn.Ravenclaw{
background-color: var(--sec-Rave);
color: var(--prim-Rave);
}
.btn.Hufflepuff{
background-color: var(--sec-Huff);
color: var(--prim-Huff);
}
.btn.Slytherin{
background-color: var(--sec-Slyt);
color: var(--prim-Slyt);
}
.btn.Gryffindor{
background-color: var(--sec-Gryf);
color: var(--prim-Gryf);
}
.btn.None{
background-color: var(--sec-none);
color: var(--prim-none);
}

a.Ravenclaw{
color: var(--sec-Rave);
}
a.Hufflepuff{
color: var(--sec-Huff);
}
a.Slytherin{
color: var(--sec-Slyt);
}
a.Gryffindor{
color: var(--sec-Gryf);
}
a.None{
color: var(--sec-none);
}


.btn-group-vertical .btn-basic
{margin: 2px;
white-space: normal;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.center-full {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}
.center-medium {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}


img.grb{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 10px;
}

img.bradavicarka{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height:100%;
    vertical-align:bottom;
    padding-top:10px;
}

.pagination {
  display:inline-flex;
  padding:5px;
}

.btn-grey{
    background-color:#D8D8D8;
	color:#FFF;
}
.rating-block{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px 15px 20px 15px;
	border-radius:3px;
	display: inline-block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

.icon-knjiga {
    background-image: url('../../static/book.svg');
    background-position: center center;
    height: 24px;
    line-height: 24px;
    width: 24px;
    display: inline-block;
}

.icon-avtor {
    background-image: url('../../static/quill.svg');
    background-position: center center;
    height: 24px;
    line-height: 24px;
    width: 24px;
    display: inline-block;
}

.icon-zbirka {
    background-image: url('../../static/books.svg');
    background-position: center center;
    height: 24px;
    line-height: 24px;
    width: 24px;
    display: inline-block;
}

.icon-isciKnjige {
    background-image: url('../../static/searchBook.svg');
    background-position: center center;
    height: 24px;
    line-height: 24px;
    width: 24px;
    display: inline-block;
}

.icon-isci {
    background-image: url('../../static/search.svg');
    background-position: center center;
    height: 24px;
    line-height: 24px;
    width: 24px;
    display: inline-block;
}

h2.Ravenclaw{
color: var(--prim-Rave);
}
h2.Hufflepuff{
color: var(--prim-Huff);
}
h2.Slytherin{
color: var(--prim-Slyt);
}
h2.Gryffindor{
color: var(--prim-Gryf);
}
h2.None{
color: var(--prim-none);
}

.container-fluid.Ravenclaw{
background-color: var(--prim-Rave);
}
.container-fluid.Hufflepuff{
background-color: var(--prim-Huff);
}
.container-fluid.Slytherin{
background-color: var(--prim-Slyt);
}
.container-fluid.Gryffindor{
background-color: var(--prim-Gryf);
}
.container-fluid.None{
background-color: var(--prim-none);
}