tr {
    color: teal;
}

.text-sredina{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.form-control.krajsi {
   width:60% !important;
}

.form-inline{
   flex:1;
}
.btn-basic
{margin: 5px;
}

.btn.btn-link{
white-space: normal;
text-align: left;
}



.btn.btn-link.Ravenclaw{
background-color: white;
color: #ae7b59;
}

.btn.btn-link.Hufflepuff{
background-color: white;
color: #404039;
}
.btn.btn-link.Slytherin{
background-color: white;
color: #9a9c9a;
}
.btn.btn-link.Gryffindor{
background-color: white;
color: #e78c00;
}

.btn.btn-link.None{
background-color: white;
color: #671b2a;
}

.btn.Ravenclaw{
background-color:#ae7b59;
color: #0c78c9;
}

.btn.Hufflepuff{
background-color:#404039;
color: #ead404;
}
.btn.Slytherin{
background-color:#9a9c9a;
color: #197a24;
}
.btn.Gryffindor{
background-color:#e78c00;
color: #d80909;
}

.btn.None{
background-color:#671b2a;
color: #3c3c3c;
}

a.Ravenclaw{
color: #ae7b59;
}

a.Hufflepuff{
color: #404039;
}
a.Slytherin{
color: #9a9c9a;
}
a.Gryffindor{
color: #e78c00;
}

a.None{
color: #671b2a;
}


.btn-group-vertical .btn-basic
{margin: 2px;
white-space: normal;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.center-full {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}
.center-medium {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.pagination {
  display:inline-flex;
  padding:5px;
}

.btn-grey{
    background-color:#D8D8D8;
	color:#FFF;
}
.rating-block{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px 15px 20px 15px;
	border-radius:3px;
	display: inline-block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

.icon-knjiga {
    background-image: url('../../static/book.svg');
    background-position: center center;
    height: 24px;
    line-height: 24px;
    width: 24px;
    display: inline-block;
}

.icon-avtor {
    background-image: url('../../static/quill.svg');
    background-position: center center;
    height: 24px;
    line-height: 24px;
    width: 24px;
    display: inline-block;
}

.icon-zbirka {
    background-image: url('../../static/books.svg');
    background-position: center center;
    height: 24px;
    line-height: 24px;
    width: 24px;
    display: inline-block;
}

.icon-isciKnjige {
    background-image: url('../../static/searchBook.svg');
    background-position: center center;
    height: 24px;
    line-height: 24px;
    width: 24px;
    display: inline-block;
}

.icon-isci {
    background-image: url('../../static/search.svg');
    background-position: center center;
    height: 24px;
    line-height: 24px;
    width: 24px;
    display: inline-block;
}

h2.Ravenclaw{
color: #0c78c9;
}
h2.Hufflepuff{
color: #ead404;
}
h2.Slytherin{
color: #197a24;
}
h2.Gryffindor{
color: #d80909;
}
h2.None{
color: #3c3c3c;
}